<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, Congretulation <%= @school.name %> You have created New School Using School Managment System. </h1>
    <p>
                             School Managment System

Anywhere and Anytime. Our Web School system is ensured with constant access from any places where Internet is available.Administrators can easily monitor and manage information and records on this software. Teachers, students and parents are also allowed to stay updated with events and notifications at institution.
    </p>
  </body>
</html>